body {
    background-color: #CCF4FE;
    text-align: center;
}
.botao {
    height: 60px;
    width: 105px;
    font-weight: bold;
    background-color: #B1DBE3;
    margin-top: 30px;
}
.caixinha {
    margin: 0 auto;
    margin-top: 50px;
    background-color: #EDB5D0 !important;
    height: 350px !important;
    width: 350px !important;
    border: 2px solid black;
    border-radius: 5px;
}
.info {
    margin-top: 10px;
}
body h4 {
    font-size: 20px;
}